<h2>Create a new transaction</h2>
<form action="/transactions/new" method="post">

  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" id="date" name="date" required />
  </div>
  <div class="mb-3">
    <label for="memo" class="form-label">Memo</label>
    <input type="text" class="form-control" id="memo" name="memo" />
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Account</th>
        <th>Debit</th>
        <th>Credit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input
            name="account[]"
            class="form-control"
            placeholder="Cash"
            required
          /></td>
        <td><input
            name="debit[]"
            class="form-control"
            type="number"
            step="0.01"
            required
          /></td>
        <td><input
            name="credit[]"
            class="form-control"
            type="number"
            step="0.01"
            required
          /></td>
      </tr>
      <tr>
        <td><input
            name="account[]"
            class="form-control"
            placeholder="Supplies"
            required
          /></td>
        <td><input
            name="debit[]"
            class="form-control"
            type="number"
            step="0.01"
            required
          /></td>
        <td><input
            name="credit[]"
            class="form-control"
            type="number"
            step="0.01"
            required
          /></td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>