<div class="container mt-4">
  <h2 class="mb-3">Accounts</h2>
  <a href="/accounts/new">Create a new account</a>
  <table class="table">
    <thead class="">
      <tr>
        <th>#</th>
        <th>Account Number</th>
        <th>Account Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <td>{{@index}}</td>
          <td><a href="/accounts/view/{{number}}">{{number}}</a></td>
          <td>{{name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>