<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
  </head>
  <body>
    
    <div class="container">
      {{> navbar}}
      {{{body}}}
    </div>
    <script src="/static/js/bootstrap.bundle.js"></script>
  </body>
</html>